<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Team5-HW3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>ass1.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>ass1.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearch</display-name>
    <servlet-name>FlightSearch</servlet-name>
    <servlet-class>ass1.FlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearch</servlet-name>
    <url-pattern>/FlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightResults</display-name>
    <servlet-name>FlightResults</servlet-name>
    <servlet-class>ass1.FlightResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightResults</servlet-name>
    <url-pattern>/FlightResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAndBook</display-name>
    <servlet-name>ViewAndBook</servlet-name>
    <servlet-class>ass1.ViewAndBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAndBook</servlet-name>
    <url-pattern>/ViewAndBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ass1.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionConfirmation</display-name>
    <servlet-name>TransactionConfirmation</servlet-name>
    <servlet-class>ass1.TransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionConfirmation</servlet-name>
    <url-pattern>/TransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrinterPDF</display-name>
    <servlet-name>PrinterPDF</servlet-name>
    <servlet-class>ass1.PrinterPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrinterPDF</servlet-name>
    <url-pattern>/PrinterPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingHistory</display-name>
    <servlet-name>BookingHistory</servlet-name>
    <servlet-class>ass1.BookingHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingHistory</servlet-name>
    <url-pattern>/BookingHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShoppingCart</display-name>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <servlet-class>ass1.UpdateShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <url-pattern>/UpdateShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank</display-name>
    <servlet-name>Bank</servlet-name>
    <servlet-class>ass1.Bank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank</servlet-name>
    <url-pattern>/Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBooking</display-name>
    <servlet-name>UpdateBooking</servlet-name>
    <servlet-class>ass1.UpdateBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBooking</servlet-name>
    <url-pattern>/UpdateBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearShoppingCart</display-name>
    <servlet-name>ClearShoppingCart</servlet-name>
    <servlet-class>ass1.ClearShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearShoppingCart</servlet-name>
    <url-pattern>/ClearShoppingCart</url-pattern>
  </servlet-mapping>
</web-app>